<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3" [text]="''" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-list-header>HEBAHAN</ion-list-header>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
<ion-list-header>PERINCIAN HEBAHAN</ion-list-header>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Perkara</ion-card-subtitle>
    <ion-card-title>{{notify.f110title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col size="4">Keterangan </ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="7">{{notify.f110broadcasttext}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Oleh</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="7">{{notify.f110createdon}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Tarikh</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="7">{{notify.f110createdby}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Dikemaskini Oleh</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="7">{{notify.f110lastupdatedon}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Dikemaskini Pada</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="7">{{notify.f110lastupdatedby}}</ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
  <div class="ion-padding"></div>
  <div class="comment-box">
    <ion-list>
      <h4>KOMEN</h4>
        <ion-label class="list-padding" *ngFor = "let nc of notifycomment">
          <ion-row class="comment-dec">
            <ion-col>  <h2>{{ nc.f110replytext }}</h2></ion-col>
          </ion-row>
          <ion-row class="comment-update">
            <ion-col>{{ nc.f110replyon }}</ion-col>
          </ion-row>
          <ion-row class="comment text-primary">
            <ion-col size="2.6">Kemaskini</ion-col>
            <ion-col size="0.5">.</ion-col>
            <ion-col size="2" (click) = "deleteComment(nc.f110replyid, '8912')" >Padam</ion-col>
          </ion-row>
      </ion-label>
    </ion-list>
    <ion-row class="comment text-primary">
      <ion-col (click)="hide()">Tambah Komen</ion-col>
    </ion-row>
  </div>

<div *ngIf="hideMe">
  <form [formGroup]="addComment" (ngSubmit)="onFormSubmit()">
    <ion-row>
        <ion-col size="10">
          <ion-input position="stacked" type="text" placeholder=" " formControlName="replytext"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-button size="small" type="submit" color="primary" clear item-right>POST</ion-button>
        </ion-col>
    </ion-row>
  </form>
</div>
</ion-content>
