<ion-content fullscreen class="ion-padding">
  <div class = "ion-padding"></div>
  <div class = "ion-padding"></div>
  <ion-list-header>Opened Shelters</ion-list-header>
  <div class = "ion-padding"></div>
  <div class = "ion-padding"></div>
  <ion-item routerLink="/fasiliti-detail" routerDirection="root">
    <ion-label>
      <h2>Dewan Orang Ramai Taman Gemilang</h2>
      <div></div>
      <p>
        Daerah : Sepang
      </p>
      <p>
        Buka Pada : 2019-11-25
      </p>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/fasiliti-detail" routerDirection="root">
    <ion-label>
      <h2>DEWAN MBPJ PJS 2C</h2>
      <div></div>
      <p>
        Daerah : Petaling Jaya
      </p>
      <p>
        Buka Pada : 2019-11-21
      </p>
    </ion-label>
  </ion-item>
</ion-content>
