<ion-content fullscreen class="ion-padding">
  <div class = "ion-padding"></div>
  <div class = "ion-padding"></div>
  <ion-list-header>Opened Shelters</ion-list-header>
  <div class = "ion-padding"></div>
  <div class = "ion-padding"></div>
  <div class = "ion-padding"></div>

  <ion-item *ngFor = "let shelter of shelters" [routerLink]="['/openedshelters-detail/:', shelter ]" >
    <ion-label>
      <h2>{{shelter.f101sheltername}}</h2>
      <div></div>
      <p>
        {{shelter.daerah}}
      </p>
      <p>
        {{shelter.f101bukapada}}
      </p>
    </ion-label>
  </ion-item>
</ion-content>
