.background {
  --ion-background-color: #3485BF;
}


ion-label > h2 {
  font-weight: bolder;
}

div{
  padding: 5px 10px;
}

ion-icon {
  padding-right: 5px;
}
ion-list-header {
  font-weight: bolder;
  font-size: 18px;
}

.example-viewport {
  height: 100%;
  width: 100%;
  border: none;
}

.example-item {
  min-height: 50px;
}
